* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Oswald", sans-serif;
}

div#profile-card {
  max-width: 400px;
  margin: 0 auto;
  border: solid 1px #ccc;
  border-radius: 0.25rem;
  text-align: center;
  line-height: 30px;
}
