* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Oswald", sans-serif;
}

div#profile-card {
  max-width: 400px;
  margin: 0 auto;
  border: solid 1px #ccc;
  border-radius: 0.25rem;
  text-align: center;
  line-height: 30px;
}

.profile-pic {
  background-image: url(hanFace.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 10rem;
  width: 10rem;
  border-radius: 100%;
  margin: 1rem auto;
}
